schemas/DKA.DR.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="DR">
        <xs:complexType>
    		<xs:sequence>
    			<xs:element name="ProductionID" type="xs:string"></xs:element>
    			<xs:element name="StreamDuration" type="xs:string"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>